html {
  direction: ltr;
  font-size: 14px;
}

html[dir="rtl"] {
  direction: rtl;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "IBM Plex Sans Arabic", "Montserrat",
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 16px;
  background-color: #fefefe;
  padding: 16px;
}

.error-page hr {
  min-width: 100px;
}

.ant-btn {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  .ant-btn-icon {
    margin: 0 !important;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

a.ant-btn {
  text-decoration: none;
}
